.myinfo-wrapper{
  overflow-y: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .myinfo-content{
    display: flex;
    align-items: center;
    .change-password{
      padding: 3rem;
      border-radius: 10px;
      background: #ffffff;
      .error-message{
        font-size: 0.75rem;
        color: blueviolet;
      }
      .change-password-wrapper{
        overflow-y: hidden;
        .input-form{
          width: 32rem;
          .error-message{
            color: blue;
          }
        }
      }
    }
  }

}