.surveyinfo{
  overflow-y: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .surveyinfo-wrapper{
    width: 45rem;
    padding: 3rem;
    border-radius: 10px;
    background-color: #efecf5;


    .surveyinfo-header{
      .surveyinfo-menu{
        display: flex;
        justify-content: center;
        background-color: inherit;
        border: 0;
        margin-bottom: 1rem;
        .menu-item{
          border-bottom: 1px solid #fff;
        }
      }
      .surveyinfo-title{
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .surveyinfo-contents{

      .objective-wrapper{
        margin: 0.75rem 0;
        .objective-title{
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      .subjective-wrapper{
        margin: 0.75rem 0;
        .subjective-title{
          font-size: 1.2rem;
          font-weight: bold;
        }
        .subjective-input{
          textarea{
            resize: none;
            height: 100px;
          }
        }
      }

      .img-objective-wrapper{
        margin: 0.75rem 0;
        .img-objective-title{
          font-size: 1.2rem;
          font-weight: bold;
        }
        .img-objective-radio-group{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          .img-objective-radio{
            margin: 0 1.25rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            .objective-img{
              transition: box-shadow 1s;
              padding: 1px;
              width: 11rem;
              height: 11rem;
              img{
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            &:hover{
              .objective-img{
                box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 4px;
              }
            }
          }
        }
      }
    }
  }
}
