.home-header {

  background-color: #212429;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 86vh;

  .home-header-text-wrapper {
    .home-header-button{
    }
    .home-header-text-1 {
      color: #0078FF;
      font-size: 1rem;
      font-weight: bold;
    }

    .home-header-text-2 {
      color: white;
      font-size: 2rem;
      font-weight: bold;
    }

    .home-header-text-3 {
      color: white;
      font-size: 1.3rem;
      margin: 30px 0 25px 0;
    }

  }

  .home-header-image {
    img{
      height: auto;
      max-width: 100%;
    }
  }


}