.surveyresult{
  overflow-y: hidden;
  min-height: 86vh;
  .surveyresult-wrapper{
    width: 900px;
    padding: 50px;
    margin: 20px auto;
    border-radius: 10px;
    .surveyresult-header{
      .surveyresult-menu{
        display: flex;
        justify-content: center;
        background-color: inherit;
        border: 0;
        margin-bottom: 15px;
        .menu-item{
          border-bottom: 1px solid #fff;
        }
      }
      .surveyresult-title{
        font-size: 2.5em;
        font-weight: bold;
        background-color: #fff;
        padding: 5px 12px;
      }
    }
  }
}
