.surveyresult{
  overflow-y: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .surveyresult-wrapper{
    width: 45rem;
    padding: 3rem;
    border-radius: 10px;
    background-color: #fff;
    .surveyresult-header{
      .surveyresult-menu{
        display: flex;
        justify-content: center;
        background-color: inherit;
        border: 0;
        margin-bottom: 1rem;
        .menu-item{
          border-bottom: 1px solid #fff;
        }
      }
      .surveyresult-title{
        font-size: 2.5rem;
        font-weight: bold;
        background-color: #fff;
        padding: 0.5rem 0.75rem;
      }
    }
  }
}
