.signin-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .signin-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    background: #ffffff;
    border-radius: 10px;
    .input-form {
      width: 30rem;

      .error-message {
        color: blue;
        font-size: 1rem;
      }
    }

    .ant-form-item-label > label {
      font-weight: bold;
      font-size: 1.25rem;
    }

  }
}