.signin-wrapper{
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 86vh;
  .input-form{
    width: 400px;
    .error-message{
      color: blue;
    }
  }
}