.survey{
  overflow-y: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .survey-wrapper{
    width: 45rem;
    padding: 3rem;
    border-radius: 10px;
    background-color: #fff;

    .error-message{
      font-size: 0.75rem;
      color: blueviolet;
    }

    .survey-header{
      .survey-title{
        border-bottom: 2px solid #ddd;
        transition: border-bottom 500ms;
        &:focus-within{
          border-bottom: 2px solid blue;
        }
        input{
          padding: 0;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }


    .question-wrapper{
      padding: 1.25rem;
      margin-top: 2.5rem;
      border: 2px solid skyblue;
      border-radius: 10px;
      transition: border 500ms;
      &:hover {
        border: 2px solid blue;
      }

      .question-header{
        display: flex;
        justify-content: space-between;
        .question-title{
          width: 70%;
          border-bottom: 2px solid #ddd;
          transition: border-bottom 500ms;
          &:focus-within{
            border-bottom: 2px solid blue;
          }
          input{
            padding: 0;
            font-size: 1.5rem;
            font-weight: bold;
          }
        }
      }

      .obj-wrapper{
        margin: 1.25rem 0;
        .obj-choice{
          display: flex;
          align-items: center;
          .obj-choice-input{
            border-bottom: 2px solid #ddd;
            transition: border-bottom 500ms;
            margin: 0 0.5rem;
            &:focus-within{
              border-bottom: 2px solid blue;
            }
            input{
              padding: 0;
            }
          }
        }
        .img-obj-choice{
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
      }

      .question-footer{
        margin-top: 1.75rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-weight: bold;
        .delete-question-button{
          display: flex;
          align-items: center;
          cursor: pointer;
          color: #FF3399;
        }
        .add-choice-button{
          display: flex;
          align-items: center;
          cursor: pointer;
          color: #6f23d3;
        }
      }
    }

    .survey-footer{
      display: flex;
      justify-content: space-between;
      margin-top: 2.5rem;

    }
    .add-question-button{
      font-size: 1.3rem;
      font-weight: bold;
      color: #6f23d3;
      cursor: pointer;
    }
  }
}
