.resultcard-wrapper{
  margin: 15px 0;
  .resultcard-title{
    font-size: 1.2em;
    font-weight: bold;
  }

    .objective-card{
      .objective-choice{
        font-weight: 600;
      }
    }
    .img-objective-card{
      .img-objective{
        img{
          width: 200px;
          height: 200px;
        }
      }
    }
    .subjective-card{

    }

}