.surveyview{
  overflow-y: hidden;
  min-height: 86vh;
  .surveyview-wrapper{
    width: 900px;
    padding: 50px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #efecf5;
    .surveyview-header{
      .surveyview-title{
        font-size: 2em;
        font-weight: bold;
      }
    }
    .surveyview-contents{
      .error-message{
        font-size: 12px;
        color: blueviolet;
        font-weight: bold;
      }
      .objective-wrapper{
        margin: 10px 0;
        .objective-title{
          font-size: 1.2em;
          font-weight: bold;
        }
      }
      .subjective-wrapper{
        margin: 10px 0;
        .subjective-title{
          font-size: 1.2em;
          font-weight: bold;
        }
        .subjective-input{
          textarea{
            resize: none;
            height: 100px;
          }
        }
      }
      .img-objective-wrapper{
        margin: 10px 0;
        .img-objective-title{
          font-size: 1.2em;
          font-weight: bold;
        }
        .img-objective-radio-group{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          .img-objective-radio{
            display: flex;
            margin: 0 20px;
            align-items: center;
            flex-direction: column;
            .objective-img{
              transition: box-shadow 1s;
              padding: 1px;
              img{
                width:170px;
                height: 170px;
              }
            }
            &:hover{
              .objective-img{
                box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 4px;
              }
            }
          }
        }
      }
    }
  }
}
